<div class="cv-card-list">
  <div class="card">
    <h3 style="margin-top:0">{{ include.project.name }}</h3>
    <p>{{ include.project.description }}</p>
    <div class="tech" data-tech>
      {% for t in include.project.tags %}
      <span class="chip chip-primary">{{ t }}</span>
      {% endfor %}
    </div>
    <div style="margin-top:10px">
      {% if include.project.link %}<a href="{{ include.project.link }}" class="btn">Live</a>{% endif %}
      {% if include.project.repo %}<a href="{{ include.project.repo }}" class="btn" style="position:absolute;top:0px;right:0px;">Repo</a>{% endif %}
    </div>
  </div>
</div>