<div class="card contact-card">
  <img src="{{ site.baseurl }}/assets/img/profile.png" alt="Photo of {{ site.data.cv.name }}" class="profile-img" />

  <h3>Contact</h3>
  <table class="table">
    <tr>
      <th>Email</th>
      <td><a href="mailto:{{ site.data.cv.email }}">{{ site.data.cv.email }}</a></td>
    </tr>

    {% for link in site.data.cv.links %}
    {% comment %} Pretty display for long URLs {% endcomment %}
    {% assign pretty = link.url
    | replace: 'https://', ''
    | replace: 'http://', ''
    | replace: 'www.', '' %}

    <tr>
      <th>{{ link.label }}</th>
      <td>
        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
          {{ pretty }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>