<header class="header">
  <nav class="nav container">
    <div class="brand">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div>{{ site.description }}</div>
    </div>
    <div class="links">
      {% assign items = site.data.navigation | default: site.nav %}
      {% for item in items %}
      {% if item.url == "/" %}
      {% if page.url == "/" %}
      <a href="{{ site.baseurl }}{{ item.url }}" class="active">{{ item.title }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% else %}
      {% if page.url == item.url or page.url == item.url | append: "/" or page.url contains item.url %}
      <a href="{{ site.baseurl }}{{ item.url }}" class="active">{{ item.title }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
      {% endif %}
      {% endif %}
      {% endfor %}

    </div>
  </nav>
</header>
