@import "reset";
@import "typography";
@import "utilities";
@import "animations";
@import "variables";

*,
*::before,
*::after {
  transition: var(--theme-transition);
}

html {
  background: var(--bg);
  color: var(--fg);
  position: relative;
  scrollbar-gutter: stable both-edges;
}

body {
  background: transparent;
  position: relative;
  color: var(--fg);
  padding-bottom: 72px;
}

@media (width <= 768px) {
  body {
    padding-bottom: 120px;
  }
}
