@import "reset";
@import "typography";
@import "utilities";
@import "animations";

html {
  background: var(--bg);
  color: var(--fg);
  position: relative;
  scrollbar-gutter: stable both-edges;
}

body {
  background: transparent;
  position: relative;
  color: var(--fg);
  padding-bottom: 72px;

  /* Space for fixed bottom bar */
}

@media (width <= 768px) {
  body {
    padding-bottom: 120px;

    /* Adjust for smaller bottom bar height on mobile */
  }
}
