---
layout: default
---

<div class="tabs">
  <button class="tab-button active" data-tab="experience">Experience</button>
  <button class="tab-button" data-tab="education">Education</button>
  <button class="tab-button" data-tab="certifications">Certifications</button>
</div>

<div class="tab-content is-active" id="experience">
  {% include experience-list.html %}
</div>

<div class="tab-content" id="education">
  {% include education-list.html %}
</div>

<div class="tab-content" id="certifications">
  {% include certifications.html %}
</div>
